################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DBSearch/FileContentIndex/86309e9a-c272-41f2-9805-59edc7bb362d.vsidx
/.vs/DBSearch/FileContentIndex/24de6e30-4203-4c93-ad2d-d78b63365853.vsidx
/.vs/DBSearch/FileContentIndex/6d1ad27c-6f10-43b6-b7dc-522219aa9238.vsidx
